NODE_ENV=production
SERVER_PORT=4072
DATABASE_URL=postgresql://<db_user>:<db_pass>@localhost:5432/lethologica_db
TEST_DATABASE_URL=postgresql://<db_user>:<db_pass>@localhost:5432/lethologica_test_db
JWT_SECRET=some_long_random_string
JWT_EXPIRES_IN=7d